
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black; 
    color: white; 
}


nav {
    background-color: #222; 
    padding: 10px 0;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}


.logo-container {
    display: flex;
    align-items: center;
    padding-left: 20px;
}


.logo {
    width: 50px;  
    height: 50px; 
    border-radius: 50%; 
    object-fit: cover; 
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    text-align: center;
    display: flex;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #444;
    border-radius: 5px;
}


.main-content {
    padding: 50px;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.contact-form {
    max-width: 700px;
    margin: 0 auto;
    background-color: #333;
    padding: 60px;
    border-radius: 8px;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    font-size: 1.1em;
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #222;
    color: white;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    padding: 12px 20px;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;
}


.contact-info {
    margin-top: 40px;
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}

.contact-info h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 1.1em;
}

